$brand-color1: #283891;
$brand-color2: #0f75bc;
$text-color1: #202020;
$text-color2: #3b3b3b;
$heading-font-stack: 'Nunito', sans-serif;
$body-font-stack: 'Roboto', sans-serif;
html {
    scroll-behavior: smooth;
  }
body{
    font-family:  $body-font-stack;
    font-weight: 400;
    font-size: 14px;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.5;
    color: $text-color2;
}
h1, h2, h3, h4, h5, h6{
    font-family: $heading-font-stack;
    color: $text-color1;
}
main{
    background: url(/images/DSCF0780.jpg) no-repeat top center;
    background-size: cover;
}
.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#main-header {
    max-width: 1140px;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 15px;

}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 15px;
}
#main-logo{
    max-width: 150px;
}
#main-nav{
    margin-left: auto;
    max-width: 75%;
}
#main-nav ul li{
    display: inline;
    list-style-type: none;
    margin-left: 3.5rem;
}
#main-nav ul li a{
    font-size: 1.25rem;
    color: #fff;
    &:hover{
        color: $brand-color2;
    }
}
section{
    padding: 15px
}
#hero-section{    
    margin-bottom: 6rem;
    h1{
        font-size: 5.4rem;
        margin-bottom: 1.25rem;
        text-align: center;      
    }
    h1,p{
        color: #fff;
    }
}
#about-container{
    background-color: #fff;
}
#about-section {
    display: flex;
    margin: 4rem 0;
}
section h2{
    font-size: 3rem;
    margin-bottom: 1.25rem;
}
#left-content{
    padding: 15px 15px 15px 0;
}
#photo-right{

    padding: 15px 0 15px 0;
}
#photo-right img{
    max-width: 400px;
    border: 1px solid $text-color2;
}
.section-dark{
    background: $text-color1;
    h2, p{
        color: #fff;
    }
}
#gallery-section {
    margin: 4rem 0;
  }
#gallery-section h2{
    text-align: center;
}
footer{
    text-align: center;
    padding: 2rem;
}
/*gallery css*/
.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
	&__link {
		margin: 2px;
		overflow: hidden;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: $body-font-stack;
		font-size: 11px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}
