---
---
@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*color variables*/
$color-text: #3c3e40;
$link-color: #1076bc;
$link-color-hover: #2a7ae2;
$body-font-stack: 'Roboto', sans-serif;
$heading-font-stack: 'Noto Sans', sans-serif;
/*major classes overide*/
.wrapper {
	max-width: calc(1020px - (30px * 2));
}
a{
	color: $link-color;
}
a:hover,.site-nav .page-link:hover {
	color: $link-color-hover;
}
p {
    color: $color-text;
}
/**/
.postimg-center {
	text-align: center;
	img {border: 1px solid $color-text;
		padding: .5em;
		}
}

h1, h2, h3, h4, h5{
	font-family: $heading-font-stack;
	font-weight: 700;
}
html, p, a{
	font-family: $body-font-stack;
	font-weight: 400;
}
.post-title, .post-header {
	text-align: center;
}
/*header area*/
.site-header{
	border: none;
	padding: 2rem 0 1rem 0;
}
img#site-logo {
    max-width: 72px;
    margin: 0 .5em 0 0;
}
nav{
	&.site-nav .menu-icon {
    display: block;
    	:hover{
    		cursor: pointer;
    	}
	}
	&.site-nav {
	    float: none;
	    line-height: initial;
	    display: flex;
	    grid-template-columns: 1fr 1fr 1fr;
	    column-gap: 20px;
	    div.flex-item{
	    	flex-grow: 1;
	    	align-self: center;
	    }
	    div.flex-item + div.flex-item{
	    	margin-left: 2%;
	    }
	    #pages-links,#social-list {
	    flex-grow: 2;
		}
	}
	& .close{
		display: none;
	}
	ul.menu-list {
		
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: .25rem 0;
		li{
			list-style-type: none;
			display: none;
			&:first-child{
				margin-right:  auto;
				display: block;
				padding: 0.25rem 0 0.25rem 1.2rem;
			}
			a{
				color: inherit;
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}

		}
	}

	svg{
		fill: $color-text;
	}
}
.site-nav .page-link{
	margin-left:  0;
}
#nav-trigger:checked ~ ul.menu-list li{
		display: block;
}
#nav-trigger:checked ~ label .close{
		display: block;
}
#nav-trigger:checked ~ label .menu{
		display: none;
}

ul.social-media-list{
	text-align: right;
    margin-bottom: 0;
    padding: 2px 0;
	li {
    display: inline;
	}
}
.svg-icon{
	width: 32px;
	height: 32px;
	fill: #283891;
	padding: 0;
}
.svg-icon:hover{
	fill: #2a7ae2;
}
/**/
/*for hero section home*/
#hero-container{
	border-bottom: 1px dashed;
}
div#hero-home {
    display: block;
    padding: 20px 0 40px 0;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;  
	img {
    border-radius: 50%;
	}
	h2 {
    font-size: 2.5em;
	}
	p {
    font-size: 1.5em;
    line-height: 1.75;
	}
	#hero-img img{
    max-width: 360px;
	}
}
.post-list-heading {
    /* font-size: 28px; */
    padding-top: 24px;
}
/*utility classes*/
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
/*footer*/
.footer-heading {
  margin-bottom: 0;
}
.footer-col-wrapper{
	text-align: center;
}
/*inner pages*/
.post-content.e-content p {
    line-height: 1.9;
}
/**/
@media (min-width: 600px) {
	div#hero-home {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
    	column-gap: 20px;
    	text-align: left;
	}
	.site-nav{
		& .toggle{
			display: none;
		}
		& .menu-list{
			flex-direction: row;
			li{
				display: block;
				margin-right: 1.5rem;
			}
		}
	}
}

@media screen and (max-width: 600px){
.site-nav {
    position: initial
    }
}